{% extends 'crm_project/base.html'%}

{%block title%}Заказы{%endblock%}

{%block content%}

    <div class="py-6 px-6">
        <h1 class=" mb-4 text-xl">Заказы</h1>
        <a href="{% url 'add_product' %}" class=" inline-block py-4 px-6 bg-teal-600 rounded-xl text-white">Create</a>
        <div class=" mt-6 flex justify-between">
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Название</p>
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Создан</p>
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Начат</p>
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Дата сдачи</p>
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Статус</p>
        </div>

        {% for product in products%}
            <div class="flex justify-between">
                <p class="py-4 px-2 font-semibold w-full bg-gray-100">
                    <a href="{% url 'product_detail' product.id%}">{{product.name}}</a>
                </p> 
                <p class="py-4 px-2 font-semibold w-full bg-gray-100">{{product.create_date}}</p>
                <p class="py-4 px-2 font-semibold w-full bg-gray-100">
                    {%if product.start_date != None %}
                    {{product.start_date}}
                    {%else%} 
                    No
                    {%endif%}</p>
                <p class="py-4 px-2 font-semibold w-full bg-gray-100">{{product.expiration_date}}</p>
                <p class="py-4 px-2 font-semibold w-full bg-gray-100">{{product.get_status_display}}</p>

                <form method="post" action="{% url 'product_update' product.id%}">
                    {% csrf_token%}
                    <button class="py-4 px-8 bg-teal-500 text-white rounded-xl" type="submit">Update</button>
                </form>
            </div>                                                      
        {%endfor%}
    </div>

{% endblock %}                              